{% extends "base.html" %}

{% block content %}
    <main class="main-container">
        <div class="page-header">
            <h1 class="page-title">Лабораторные работы по Клеточным автоматам</h1>
        </div>

        <!-- Сетка материалов -->
        <!-- Сетка материалов -->
        <div class="content-grid">
            <!-- Карточка 1 - Кибернетика -->
            <div class="material-card">
                <h3 class="card-title">ECA World</h3>

                <a href="eca/" class="card-link">Перейти к материалам</a>
            </div>
            <div class="material-card">
                <h3 class="card-title">Life Matrix</h3>

                <a href="matrix/" class="card-link">Перейти к материалам</a>
            </div>
            <div class="material-card">
                <h3 class="card-title">WW Electra</h3>

                <a href="electra/" class="card-link">Перейти к материалам</a>
            </div>
        </div>

    </main>
{% endblock content %}