{% extends "lab/base.html" %}

{% load static %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа № 3: Регулирование</title>
    <link rel="stylesheet" href="{% static "styles/feedback.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <style>
        /* Ограничение ширины полей ввода */
        .form-group {
            flex: 1; /* Позволяет полям ввода занимать равное пространство */
            min-width: 100px; /* Минимальная ширина полей */
            max-width: 100px; /* Максимальная ширина полей */
        }

        /* Убедимся, что поля не выходят за границы */
        .form-row {
            display: flex;
            flex-wrap: wrap; /* Позволяет переносить элементы, если они не помещаются */
        }
    </style>

{% endblock head %}


{% block content %}

    <div id="mainContainer" class="box">
        <div class="system-selection-container">

            <div id="description" class="text-center" style="display: block;">
                <h3>Нужно настроить регулятор, чтобы итоговое время не превышало {{ t }}</h3>
            </div>
        </div>

        <!-- Секция визуализации -->
        <div style="display: flex;">
            <div class="visualization-output-container" style="flex: auto">
                <!-- Вход -->
                <div class="input-container" style="width: 400px">
                    <div class="row mb-10">
                        <div class="container my-5">
                            <!-- Форма ввода чисел -->
                            <div class="form-row">
                                <!-- Поле ввода 1 -->
                                <div class="form-group col-md-4 col-12">
                                    <label for="input1">\( K_P \)</label>
                                    <input type="number" class="form-control" id="input1" required step="1">
                                </div>
                                <!-- Поле ввода 2 -->
                                <div class="form-group col-md-4 col-12">
                                    <label for="input2">\( K_I \)</label>
                                    <input type="number" class="form-control" id="input2" required step="1">
                                </div>
                                <!-- Поле ввода 3 -->
                                <div class="form-group col-md-4 col-12">
                                    <label for="input3">\( K_D \)</label>
                                    <input type="number" class="form-control" id="input3" required step="1">
                                </div>
                            </div>
                            <!-- Кнопка -->
                            <div class="text-center">
                                <button id="submitButton" class="btn btn-primary mt-3"
                                        onclick="applyInput('{{ v }}', '{{ t }}', '{{ e }}', '{{ b }}', '{{ w }}')"
                                        style="border-radius: 20px">
                                    Применить
                                </button>
                            </div>
                        </div>
                    </div>
                    <img src="{% static "img/pid.png" %}"
                         alt="Стрелка Вход-Изображение"
                         style="width: 300px; height: auto;">
                </div>
                
            </div>
        </div>
        <div style="flex-direction: row">

            <div class="output-box">
                <label for="outputValue" class="output-label">Итоговое время</label>
                <div id="outputValue" class="output-display">-</div>
            </div>

        </div>

    </div>
    <div id="mainContainer" class="box">
        <div id="resultsSection" class="big-table">
            <h3>Результаты измерений:</h3>
            <form id="tableForm" method="POST" action=""
                  style="align-items: center; justify-content: center; display: flex; flex-direction: column;">
                {% csrf_token %}
                <table id="resultsTable" border="1">
                    <thead>
                    <tr>
                        <th>Номер попытки</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Введенный \( K_P \)</td>
                    </tr>
                    <tr>
                        <td>Введенный \( K_I \)</td>
                    </tr>
                    <tr>
                        <td>Введенный \( K_D \)</td>
                    </tr>
                    <tr>
                        <td>Затраченное время</td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <input required type="hidden" name="table_data" id="tableDataInput"/>
                <br>
                <input name="v" value="{{ v }}" type="hidden">
                <input name="t" value="{{ t }}" type="hidden">
                <input name="e" value="{{ e }}" type="hidden">
                <input name="w" value="{{ w }}" type="hidden">
                <input name="b" value="{{ b }}" type="hidden">
                <button type="submit" id="submitBtn" style="border-radius: 20px; 
                display: none;">Завершить
                </button>
                <br>
            </form>

            <script>
                document.getElementById('tableForm').addEventListener('submit', function (event) {
                    // Останавливаем отправку формы, чтобы сначала обработать данные
                    event.preventDefault();

                    let csv_data = [];

                    let rows = document.getElementsByTagName('tr');
                    for (let i = 0; i < rows.length; i++) {

                        // Get each column data
                        let cols = rows[i].querySelectorAll('td,th');

                        // Stores each csv row data
                        let csvrow = [];
                        for (let j = 0; j < cols.length; j++) {

                            // Get the text data of each cell
                            // of a row and push it to csvrow
                            csvrow.push(cols[j].innerHTML);
                        }

                        // Combine each column value with comma
                        csv_data.push(csvrow.join(","));
                    }

                    // Combine each row data with new line character
                    csv_data = csv_data.join('\n');
                    console.log(csv_data)
                    // Записываем данные в скрытое поле формы
                    document.getElementById('tableDataInput').value = JSON.stringify(csv_data);

                    // После этого отправляем форму
                    this.submit();
                });
            </script>

        </div>


    </div>

    <script defer="" src="{% static "scripts/regulation.js" %}"></script>

{% endblock content %}