{% extends "lab/base.html" %}
{% load static %}

{% block head %}
    <title>Лабораторная работа №3</title>
{% endblock head %}

{% block content %}

    <div class="container my-4">
        <div class="carousel-inner" style="text-align: center">
            <img src="{% static "img/reg_anime.png" %}"
                 class="d-block w-100" alt="..." height="auto" width="auto" style="display: flex;
      justify-content: center; border-radius: 20px">


        </div>
        <br>
        <div style="text-align: center">
            <h2 style="color:black">Капитан, кажется перегрев все же сказался на работе двигателя</h2>
            <p style="color:black">Судя по всему у нас слетели настройки PID регулятора. Без него мы не сможем
                продолжить наш полет.</p>

        </div>
        <br>
        <div class="row mb-1">
            <div class="col-md-12">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Вряд-ли он станет стримером на твиче</strong>
                        <h3 class="mb-0">PID-регутятор</h3>
                        <p class="mb-auto">🎛️️ Устройство в управляющем контуре с обратной связью,
                            которое используется в системах автоматического управления для формирования управляющего
                            сигнала.</p>
                        {#<a href="https://education.yandex.ru/handbook/ml/article/optimizaciya-v-ml"#}
                        {#class="stretched-link">Подробнее</a>#}
                        <a href="PID/" class="stretched-link">Выбрать модель</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="auto" height="230"
                             src="{% static "img/pidd.png" %}"
                             alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}