

    /* Секция результатов */
    #resultsSection {
        margin-top: 20px;
        width: 100%;
    }

    /* Стилизация таблицы результатов */
    #resultsTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
    }

    #resultsTable th:first-child, #resultsTable td:first-child {
        background-color: #3d3d99;
        text-align: left;
        color: white;
    }

    #resultsTable th, #resultsTable td {
        border: 1px solid #ddd;
        padding: 12px;
    }

    #resultsTable tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    #resultsTable tbody tr:nth-child(even) {
        background-color: #f0f8ff;
    }

    /* Подвал */
    footer {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        color: #666;
    }


    .big-table {
        overflow: auto;
        position: relative;
    }

    .big-table table {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }